<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Game Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>
<body>

	<h2>Add game here</h2>
	<!-- Collego l'azione del form tramite th:action al @getMapping corrispondente
	Specifico che l'oggetto passato è editor
	nell'input specifico che il field dell'oggetto è quello corrispondente -->
	<form action="#" th:action="@{/giochi/addGioco}" th:object="${gioco}"
		method="post">
		<label for="titolo">Title</label> <input type="text"
			th:field="*{titolo}" id="titolo" placeholder="Title" required>
			<br>
		<label for="dataUscita">Release Date</label> <input type="date"
			th:field="*{dataUscita}" id="dataUscita" placeholder="Release Date">
			<br>
		<label for="serie">Series</label> <input type="text"
			th:field="*{serie}" id="serie" placeholder="Series">
			<br>
		<label for="pegi">PEGI</label> <input type="number"
			th:field="*{pegi}" id="pegi" placeholder="PEGI">
			<br>
		<label for="IDPiattaforma">Platform ID</label> <input type="number"
			th:field="*{IDPiattaforma}" id="IDPiattaforma" placeholder="Platform ID">
			<br>
		<label for="IDGenere">Genre ID</label> <input type="number"
			th:field="*{IDGenere}" id="IDGenere" placeholder="Genre ID">
			<br>
		<label for="IDSviluppatore">Developer ID</label> <input type="number"
			th:field="*{IDSviluppatore}" id="IDSviluppatore" placeholder="Developer ID">
			<br>
		<label for="IDEditor">Editor ID</label> <input type="number"
			th:field="*{IDEditor}" id="IDEditor" placeholder="Editor ID">
			<br>
			<input type="submit" value="Add Game">
	</form>
</body>
</html>
