*
{
	margin: 0;
	padding: 0;
}
.img
{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
		
}
h2
{
	color: #fff;
	font-size: xx-large;
}
p
{
	color: #fff;
	font-size: 5000;
}
h1
{
	color: #fff;
}
body
{	
	font-family: sans-serif;
	background-image: linear-gradient(to right, #3b1b72, #3b1b72);
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right, #6f42c1, #fd7e14);
	padding: 0 !important;
}
.navbar.brand img
{
	height: auto;
	padding-left: auto;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
}
.d-flex input button
{
	color:  #fd7e14;
}
html {
                font-family: sans-serif;
                background-color: #3b1b72;
                color: #fff;
            }
.btn-primary {
    color: #3b1b72;
    background-color: #ff8040;
    border-color: #ff8000;
}
.img {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	
}
